.linebox,
[data-linebox] {
    color: #fff;
    background: #444;
}

.linebox--bakerloo-line,
[data-linebox="bakerloo-line"] {
    background: #AE6118;
}

.linebox--central-line,
[data-linebox="central-line"] {
    background: #E41F1F;
}

.linebox--circle-line,
[data-linebox="circle-line"] {
    background: #F8D42D;
    color: #111;
}

.linebox--district-line,
[data-linebox="district-line"] {
    background: #007229;
}

.linebox--hammersmith-city-line,
[data-linebox="hammersmith-city-line"] {
    background: #E899A8;
    color: #111;
}

.linebox--jubilee-line,
[data-linebox="jubilee-line"] {
    background: #686E72;
}

.linebox--metropolitan-line,
[data-linebox="metropolitan-line"] {
    background: #893267;
}

.linebox--northern-line,
[data-linebox="northern-line"] {
    background: #000000;
}

.linebox--piccadilly-line,
[data-linebox="piccadilly-line"] {
    background: #0450A1;
}
.linebox--victoria-line,
[data-linebox="victoria-line"] {
    background: #009FE0;
}
.linebox--waterloo-city-line,
[data-linebox="waterloo-city-line"] {
    background: #70C3CE;
    color: #111;
}

.linebox--dlr,
[data-linebox="dlr"] {
    background: #00BBB4;
}

.linebox--london-overground,
[data-linebox="london-overground"] {
    background: #e86a10;
}

.linebox--tfl-rail,
[data-linebox="tfl-rail"] {
    background: #0019a8;
}