// Breakpoints
// These are the GEL breakpoints, with some extras to cover
// the large space between some of them
$mq-breakpoints: (
        xs: 320px,
        s: 480px,
        m: 600px,
        l: 768px,
        xl: 1008px,
        xxl: 1280px,
        xxxl: 1600px
) !default;

@function grid-unit($breakpoint) {
    $unit: $grid-unit-small;
    // ensure wider breakpoint than gel3 is large unit
    @if map-get($mq-breakpoints, $breakpoint) >= map-get($mq-breakpoints, gel3) {
        $unit: $grid-unit-large;
    }
    @return $unit;
}

// convert the list of breakpoints into suffixes
$breakpoint-suffixes: ();
@each $key, $value in ($mq-breakpoints) {
    $suffix: '\\@#{$key}';
    $breakpoint-suffixes: map-merge($breakpoint-suffixes, ($key: $suffix));
}

@import '../vendor/mq';