@import "../setup/setup";

.card {
    @include flexbox();
    @include flex-direction(column);
    background: $color-card;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.card--padded {
    padding: $grid-unit-small;
}

.card__intro {
    overflow: hidden;
    position: relative;
    padding: $grid-unit-large * 3 $grid-unit-large $grid-unit-large;
}

.card__body {
    @include flex-grow(1);
}
.card__logo {
    position: absolute;
    right: -40%;
    bottom: -40%;
    fill: $color-header-text;
    opacity: 0.3;
    height: 180%;
}

.card__foot {
    @include flex-align-self(flex-end);
    text-transform: uppercase;
    padding: $grid-unit-small;
    border-top: solid 1px $color-card-lines;
    width: 100%;
}

.card__foot-line {
    line-height: 36px;
    padding: 0 $grid-unit-small;
}

@include mq($from: m) {
    .card--padded {
        padding: $grid-unit-large;
    }
}