// Don't need this yet. Let's save on bytes
@include hidden();
//@include unhidden();
//@include unhidden-inline();
//@include unhidden-inlineblock();
@include invisible();
//@include visible();

//@each $breakpoint, $suffix in ($breakpoint-suffixes) {
//    @include mq($from: $breakpoint) {
//        @include hidden($suffix);
//        @include unhidden($suffix);
//        @include unhidden-inline($suffix);
//        @include unhidden-inlineblock($suffix);
//        @include invisible($suffix);
//        @include visible($suffix);
//    }
//}

.transparent {
    visibility: hidden;
}
