@import '../setup/setup';
@import '../vendor/normalize';

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    min-height: 100%;
    padding: 0;
    background: $color-body;
    color: $color-text;
    font-family: $font-body;
}


img {
    width: 100%;
}
svg {
    width: 100%;
    height: 100%;
    vertical-align: top;
    fill: currentColor;
}

a {
    font-weight: inherit;
    color: $color-link;
    text-decoration: inherit;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.page-limit {
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-unit-small;
    padding-right: $grid-unit-small;
}

@include mq($from: m) {
    .page-limit {
        padding-left: $grid-unit-large;
        padding-right: $grid-unit-large;
    }
}