/* Global page layout */

body {
    padding-top: 52px;
    padding-bottom: 60px;
}

.app {

}

.app__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.app__main {
}


.statusbox {
    min-height: 80px;
}

// hide buttons etc on specific views
.app--index {
    .page,
    .header__back {
        display: none;
    }
}
.app--line,
.app--settings {
    .app__nav {
        display: none;
    }
}

.app--settings {
    .header__settings {
        display: none;
    }
}

@include mq($from: l) {
    body {
        padding-top: 0;
    }

    .app--index .page {
        display: block;
    }
    .app {
        @include flex-fill();
        @include flex-wrap();
        @include flex-direction(row);
        @include flex-align(stretch);
    }
    .app__header {
        position: relative;
    }
    .app__nav {
        @include order(1);
        @include flex(0 0 320px);
    }
    .app__main {
        @include order(2);
        @include flex(1);
    }
    .statusbox {
        height: (100/14) * 1vh;
        min-height: 48px;
    }
    #js-back {
        display: none;
    }
    .app--line,
    .app--settings {
        .app__nav {
            display: block;
        }
    }
}

@media (min-height: 42em) and (min-width: 48em) {
    .app__nav-list {
        position: fixed;
        width: 320px;
        top: 0;
        left: 0;
    }
}