.out-of-date {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color-warning-bg;
    color: $color-warning-text;
    padding: $grid-unit-large;
    box-shadow: 0 0 12px #000;
    @include mq($from: l) {
        left: 320px;
    }
}

