.times {
    width: 100%;
    td, th {
        width: 1/8 * 100%;
        border: solid 1px $color-card-lines;
        border-bottom: none;
        border-right: none;
        min-height: 40px;
    }
    thead th {
        text-align: center;
        padding: 6px;
        &:first-child {
            border-left: none;
        }
    }
    tbody th {
        border-left: none;
        text-align: right;
        padding: 6px;
    }
    td {
        text-align: center;
        position: relative;
    }
}

.times__box {
    @extend .invisible;
}
.times__label {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
    cursor: pointer;
}
.times__box:checked + .times__label {
    background: $color-text;
}
