// Colours
//$color-subtle: #b5b3b8;
//$color-faint: #d3ced6;
$color-text: #424248;
$color-body: #E8E8E8;
$color-card: #fff;
$color-card-lines: #E6E6E6;
$color-link: #3C4C9C;

$color-header-bg: #383b3f;
$color-header-text: #fff;
$color-header-hover: #aaa;

$color-button-bg: $color-header-bg;
$color-button-text: $color-header-text;
$color-button-hover: #4a5265;

$color-warning-bg: #e81b00;
$color-warning-text: #fff;

// Sizes
$grid-unit-large: 16px;
$grid-unit-small: 8px;

// Fonts
$font-body: -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            "Roboto",
            "Oxygen",
            "Ubuntu",
            "Cantarell",
            "Fira Sans",
            "Droid Sans",
            "Helvetica Neue",
            sans-serif-light,
            sans-serif;

$font-heading: inherit;
